*{ margin: auto ;
    padding: 25px;;


}

.circle{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: crimson;
    position: relative;     
}

.Blue{ width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top: 75px;
    left: 405px;
}

.Green{ width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 100px;
    left: 430px;
}

.Yellow{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 125px;
    left: 455px;
}

.Brown{width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: burlywood;
    position: absolute;
    top: 150px;
    left: 480px;

}
.Purple{width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: purple;
    position: absolute;
    top: 175px;
    left: 505px;
}
.Plum{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: plum;
    position: absolute;
    top: 200px;
    left: 530px;
}

