* { box-sizing: border-box; }

body {
  background: #eef2f5;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, Arial, sans-serif;
}

.head {
      width: 120px;
      height: 120px;
      background: #fff;
      border: 4px solid #333;
      border-radius: 50%;
      position: relative;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }





.head{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    position: relative;
}

.blade1{
    width: 50px;    
  height: 6px;     
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left center; 
  border-radius: 3px;
  transform: rotate(0deg) 
  translateX(-50%); 
  
    

}

.blade2{
    
    width: 50px;    
  height: 6px;     
  background-color: blueviolet;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left center; 
  border-radius: 3px;
  transform: rotate(120deg) 
  translateX(-50%); 
}

.blade3{
    
    width: 50px;    
  height: 6px;     
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left center; 
  border-radius: 3px;
  transform: rotate(240deg) 
  translateX(-50%); 
}

.rod1{
      width: 10px;
  height: 100px;
  background-color: lightgray;
  border-radius: 4px;
}

.rod2{
      width: 40px;
      height: 20px;
      background-color: cornflowerblue;
      margin-top: 10px;
      border-radius: 4px;
}