*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mother{
    border: 2px solid black;
    width: 70%;
    margin: 50px auto;
    height: 90vh;
    position: relative;
    border: none;
}
.children{
    border: 2px solid red;
}

.child1{
    border: 2px solid blue;
    width: 800px;
    height: 800px;
    position: absolute;
    top: 65px;
    left: 550px;
}
.child2{
    border: 2px solid red;
    width: 700px;
    height: 700px;
    position: absolute;
    top: 115px;
    left: 600px;
    /* border-radius: 50%; */
}
.child3{
    border: 2px solid green;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 165px;
    left: 650px;
}
.child4{
    border: 2px solid yellow;
    position: absolute;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 215px;
    left: 700px;
}
.child5{
    border: 2px solid crimson;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 265px;
    left: 750px;
}
.child6{
    border: 2px solid purple;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 315px;
    left: 800px;
}
.child7{
    border: 2px solid violet;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 365px;
    left: 850px;
}